

header{
    height: var(--header-height);
    background-color: #d4d4d4;
    min-width: 100%;
    overflow: hidden;
}
header div{
    display: flex;
    justify-content: space-between;
}
header div .title{
    height: var(--header-height);
}
header div .title h1{
    font-size: 18px;
    font-weight: 600;
    line-height: var(--header-height);
    letter-spacing: .4px;
    text-transform: uppercase;
}
header div .title img{
    box-sizing: content-box;
    height: 30px;
    width: 30px;
    padding: calc( (var(--header-height) - 32px ) / 2);
    padding-left: 0;
}
.title h1 a{
    color: #1b1b1b;
    text-decoration: none;
}
header div nav{
    text-align: right;
    height: var(--header-height);
}
header div nav ul{
    list-style: none;
    font-size: 0;
}
header div nav ul li{
    display: inline;
    line-height: var(--header-height);
    cursor: default;
}
header div nav ul li a{
    font-size: 17px;
    color: #1b1b1b;
    background-color: #d4d4d4;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: .2px;
    text-transform: none;
    cursor: pointer;
    padding: 28px;
    transition: all .25s ease-in-out;
}
header div nav ul li a:hover{
    background-color: #07703f;
    color: #d4d4d4;
}


.mobile-nav{
    overflow: hidden;
}
.mobile-nav p i{
    margin-top: 18px;
    font-size: 20px;
    color: var(--header-text);
    text-decoration: none;
    cursor: pointer;
}