@import "base.css";


.hero-banner{
    width: 100%;
    background-color: #f7f7f7;
    padding: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-banner .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.hero-banner .image{
    width: 220px;
    height: 220px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    overflow: hidden;
}


.hero-banner .description{
    padding: 15px;
    width: 100%;
    max-width: 570px;
    text-align: center;
}

.description h3{
    font-size: 35px;
    padding-bottom: 7px;
    border-bottom: 2px solid #1b1b1b;
    width: fit-content;
    margin: 0 auto;
}

.description p{
    padding-top: 7px;
    font-size: 25px;
    max-width: 500px;
}


.landing{
    height: 100vh;
    background: rgb(9,173,118);
    background: linear-gradient(157deg, rgba(9,173,118,1) 0%, rgba(9,89,61,1) 100%);
}

.landing .head{
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.landing .container{
    color: #f7f7f7;
    display: grid;
    place-content: center;
    height: calc(100% - 56px - 104px);
}

.landing .container h3{
    color: #f7f7f7;
    font-size: 45px;
    text-align: center;
    padding-bottom: 3px;
    border-bottom: 2px solid #f7f7f7;
    width: fit-content;
    margin: 0 auto;
}
.landing .container p{
    padding-top: 3px;
    color: #f7f7f7;
    text-align: center;
    font-size: 28px;
}

.landing .links{
    height: 104px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links ul{
    display: flex;
    flex-direction: row;
    height: 100%;
    list-style: none;
    align-items: center;
}

.links ul li{
    padding: 10px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin-left: 25px;
    background-color: #00000020;
    color: #f7f7f7;
    display: grid;
    place-content: center;
    font-size: 20px;
    transition: 0.25s all;
}

.links ul li:first-child{
    margin-left: 0;
}

.links ul li a i{
    color: #8a9e89;
}

.links ul li:hover{
    transform: scale(1.3);
    box-shadow: 0 0 12px 6px #f7f7f740;
    border-radius: 6px;
}


footer{
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #8f8f8f;
}

footer .nav{

}

.nav ul{

}

.nav ul li{
    
}



/* media q */

@media screen and (min-width: 320px){
    nav{display: none;}
    .mobile-nav {display: block;}
}
@media screen and (min-width: 580px){
    nav { display: none; }
    .mobile-nav { display: block; }
}
@media screen and (min-width: 768px){
    .container, .row-container {
        max-width: 800px;
    }
    nav { display: block; }
    .mobile-nav { display: none; }
}        
@media screen and (min-width: 1024px){
    .container, .row-container {
        max-width: 1140px;
    }
    nav { display: block; }
    .mobile-nav { display: none;}
}